Flujo 06.json
[
    {
        "id": "27de71fd5d022a4c",
        "type": "tab",
        "label": "Flujo 06",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "3fff9884d7a76921",
        "type": "mqtt in",
        "z": "27de71fd5d022a4c",
        "name": "",
        "topic": "codigoIoT/flow6/mqtt",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "24e54ec71810eb37",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "c6c91f55bf4bce4c"
            ]
        ]
    },
    {
        "id": "ee513535c5d0f2fa",
        "type": "mqtt out",
        "z": "27de71fd5d022a4c",
        "name": "",
        "topic": "codigoIoT/flow6/mqttin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "24e54ec71810eb37",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "c6c91f55bf4bce4c",
        "type": "ui_text",
        "z": "27de71fd5d022a4c",
        "group": "6898a68071a737ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto Recibido",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "66cc1565fee7a715",
        "type": "ui_switch",
        "z": "27de71fd5d022a4c",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "c5396a17cce97479",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "ee513535c5d0f2fa"
            ]
        ]
    },
    {
        "id": "24e54ec71810eb37",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6898a68071a737ac",
        "type": "ui_group",
        "name": "Información (Rx)",
        "tab": "f819853eb290251a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5396a17cce97479",
        "type": "ui_group",
        "name": "Información (Tx)",
        "tab": "f819853eb290251a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f819853eb290251a",
        "type": "ui_tab",
        "name": "Flujo 06",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]